[Unit]
Description=Perform backup of dotfiles

[Service]
Type=oneshot
WorkingDirectory=/home/filip/Services
ExecStart=/usr/bin/bash dotfiles-backup.sh
Restart=no

[Install]
WantedBy=multi-user.target
